{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div id="about">
        <div class="page-header">
            <h1>About</h1>
        </div>
        <p>Menu here? Link to PDF documentation.</p>
    </div>

    <div id="glossary">
        <div class="page-header">
            <h2>Glossary</h2>
        </div>
        <div class="row">
            <p>All glossary explanations are taken from the <i>General Equialence Mappings, Documentation for Technical Users</i>.</p>
            <div class="span6">
                <p>
                    <span class="label label-important">Approximate Match</span>
                    <br/>
                    Indicates complete meaning of the source and the target are not considered equivalent.
                </p>
            </div>
            <div class="span6">
                <p><span class="label label-success">Exact Match</span>
                    <br/>
                    Indicates the complete meaning of the source and the target are considered equivalent and the source and target translate only to each other in both GEMs files.
                </p>
            </div>
            <div class="span6">
                <p>
                <span class="label label-warning">Combination</span>
                <br/>
                Indicates that a cluster of target system codes—consisting of two, three, four, or more codes— taken together provide an adequate translation of the source system code.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
